<header>
  <nav>
    <a class = "homelink" href="/"><h3>Midterm App</h3></a>
    <div class = 'reglogin-btn'>
    <a href = "/register" class="btn btn-primary"> Register </a>
    <a href = "/login" class="btn btn-primary" style = "margin-left: 10px"> Login </a>
    </div>
  </nav>
</header>

