<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="../public/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="../public/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="../public/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
  </body>
</html>
