<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/public/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/public/scripts/app.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0AN2t3C75q5u3gGpGna7bu_yt_zyelPM&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script>
    let map;
    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 8,
      });
    }
    </script>

    <style>
      #map {
        height: 500px;
        width: 500px;
      }
    </style>
  </head>

  <body>
    <h1>Hello World!</h1>
    <div id="map" ></div>
  </body>
</html>
