<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
  <title> Midterm App - Register</title>
</head>
<title>Midterm App - Register</title>

<body>
  <%- include('partials/_header') %>
  <div class = "loginbody">
    <h4 class="card-title" style = "margin-bottom: 30px"> Register </h4>
    <% if (!name) { %>
      <h5 class="error-message">Please enter your name!</h5>
    <% } else if (!email) { %>
      <h5 class="error-message">Please enter an email address!</h5>
    <% } else if (!password) { %>
      <h5 class="error-message">Please enter a password!</h5>
    <% } %>
    <form action = "/register" method = "POST">
    <h5 style = "margin-bottom: 15px"> Name:  </h5>
    <input type = "text" name = "name" style="width: 320px; margin-bottom: 15px; padding: 4px"/>
    <h5 style = "margin-bottom: 15px"> Email Address:  </h5>
    <input type = "email" name = "email" placeholder = "email@example.com" style="width: 320px; margin-bottom: 15px; padding: 4px"/>
    <h5 style = > Password: </h5>
    <input type = "password" name = "password" placeholder = "password" style="width: 320px; padding: 4px"/>
  </div>
      <button style = "margin-left: 40px; margin-bottom: 20px" type="submit" class="btn btn-primary"> Register </button>
    </form>

    <div class="card-footer text-muted"></div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
