// See: https://sass-lang.com/
nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(223, 174, 49);
  padding: 1.5em;

  h3 {
    margin-left: 1em;
    font-size: 25px;
  }

  .homelink:hover{
    text-decoration: none;
  }

  .reglogin-btn{
    margin-right: 1em;
  }
}

.btn-dark{
  margin-right: 1em;
}

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .loginbody {
    padding: 2.5em;
  }

  main{
    display: flex;
    margin-top: 12px;


    #map {
      height: 500px;
      width: 500px;
    }

    .mapFooter{
      display: flex;
      margin-top: 0.5em;
      justify-content: space-between;
    }
  }

  .container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;

    .pinDescription{
      display: flex;
      flex-direction: column;
      width: 400px;
    }

    #title{
      margin-bottom: 20px;
      padding: 0.3em;
    }

    #description{
      margin-bottom: 20px;
      height: 200px;
      resize: none;
      padding: 0.3em;
    }

    #image{
      padding: 0.3em;
    }

    .btn-success{
      width: 130px;
      margin-top: 30px;
    }
  }



}

