// See: https://sass-lang.com/
nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(223, 174, 49);
  padding: 1.5em;

  h3 {
    margin-left: 1em;
    font-size: 25px;
  }

  .homelink:hover{
    text-decoration: none;
  }

  .reglogin-btn{
    margin-right: 1em;
  }
}

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .loginbody {
    padding: 2.5em;
  }

  main{
    display: flex;
    margin-top: 6px;
    background-color: #f4f1ec;

    .container{
      margin: 0px;
      display: flex;
      flex-direction: column;
    }

    .mapFooter{
      display: flex;
      margin-top: 0.5em;
      justify-content: space-between;
    }

    #map {
      height: 500px;
      width: 500px;
    }
  }



}

