// See: https://sass-lang.com/
.navHeader {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(223, 174, 49);
  padding: 1.5em;

  p {
    color: #343a40;
    font-size: larger;
  }

  h3 {
    color: #343a40;
    margin-left: 1em;
    font-size: 25px;
  }

  .homelink {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .homelink:hover{
    text-decoration: none;
  }

  // Earth animation
  .earth {
    width:50px;
    height:50px;
    background-image:url( https://raw.githubusercontent.com/cartalan/TierraGirando/master/img/mapa.png);
    background-size:cover;
    border-radius:50px;
    margin:auto;
    box-shadow:-8px -5px 0 0 rgba(0,0,0,.15) inset, -22px -8px 0 0 rgba(0,0,0,.1) inset, 2px 2px 0 0 rgba(255,255,255,.2) inset;
    -webkit-animation:rotationEarth 15s infinite linear;
    -moz-animation:rotationEarth 15s infinite linear;
    animation:rotationEarth 15s infinite linear;
}

@-webkit-keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}

@keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}

  .reglogin-btn{
    display: flex;
    flex-direction: row;
    margin-right: 1em;
    align-items: baseline;
  }
}

.btn-dark{
  margin-left: 1em;
  margin-right: 0.5em;
}

.btn-primary{
  margin-right: 0.5em;
  margin-left: 0.5em;
}

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .loginbody, .profilebody{
    padding: 2.5em;
  }

  main{
    display: flex;
    margin-top: 12px;


    #map {
      height: 500px;
      width: 500px;
    }

    .mapFooter{
      display: flex;
      margin-top: 0.5em;
      justify-content: space-between;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;

    .pinDescription {
      display: flex;
      flex-direction: column;
      width: 400px;
    }

    #mapTitle{
      margin-bottom: 20px;
      padding: 0.3em;
    }

    #pac-input{
      margin-bottom: 20px;
      padding: 0.3em;
    }

    #title{
      margin-bottom: 20px;
      padding: 0.3em;
    }

    #description{
      margin-bottom: 20px;
      height: 200px;
      resize: none;
      padding: 0.3em;
    }

    #image{
      padding: 0.3em;
    }

    #markerImage img{
      width: 200px;
      height: 200px;
    }

    .btn-success{
      width: 130px;
      margin-top: 30px;
    }
  }

  .error-message {
    color: red;
  }
  .table{
    margin-top: 60px;
    margin-left: 5%;
    width: 70%;
  }

  #editVisible {
    display: none;
  }

  #editVisibleTable{
    display: none;
  }


}

// card stuff
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {
  color: #999999;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  padding: 0.5rem;
  text-transform: lowercase;
}

.viewedit {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: -webkit-box;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}


