// See: https://sass-lang.com/
.navHeader {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(223, 174, 49);
  padding: 1.5em;

  p {
    font-size: larger;
  }

  h3 {
    margin-left: 1em;
    font-size: 25px;
  }

  .homelink {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .homelink:hover{
    text-decoration: none;
  }

  // Earth animation
  .earth {
    width:50px;
    height:50px;
    background-image:url( https://raw.githubusercontent.com/cartalan/TierraGirando/master/img/mapa.png);
    background-size:cover;
    border-radius:50px;
    margin:auto;
    box-shadow:-8px -5px 0 0 rgba(0,0,0,.15) inset, -22px -8px 0 0 rgba(0,0,0,.1) inset, 2px 2px 0 0 rgba(255,255,255,.2) inset;
    -webkit-animation:rotationEarth 15s infinite linear;
    -moz-animation:rotationEarth 15s infinite linear;
    animation:rotationEarth 15s infinite linear;
}

@-webkit-keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}

@keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}

  .reglogin-btn{
    display: flex;
    flex-direction: row;
    margin-right: 1em;
    align-items: baseline;
  }
}

.btn-dark{
  margin-left: 1em;
  margin-right: 0.5em;
}

.btn-primary{
  margin-right: 0.5em;
  margin-left: 0.5em;
}

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .loginbody, .profilebody{
    padding: 2.5em;
  }

  main{
    display: flex;
    margin-top: 12px;


    #map {
      height: 500px;
      width: 500px;
    }

    .mapFooter{
      display: flex;
      margin-top: 0.5em;
      justify-content: space-between;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;

    .pinDescription {
      display: flex;
      flex-direction: column;
      width: 400px;
    }

    #mapTitle{
      margin-bottom: 20px;
      padding: 0.3em;
    }

    #pac-input{
      margin-bottom: 20px;
      padding: 0.3em;
    }

    #title{
      margin-bottom: 20px;
      padding: 0.3em;
    }

    #description{
      margin-bottom: 20px;
      height: 200px;
      resize: none;
      padding: 0.3em;
    }

    #image{
      padding: 0.3em;
    }

    #markerImage img{
      width: 200px;
      height: 200px;
    }

    .btn-success{
      width: 130px;
      margin-top: 30px;
    }
  }

  .error-message {
    color: red;
  }
  .table{
    margin-top: 60px;
    margin-left: 5%;
    width: 70%;
  }

  #editVisible {
    display: none;
  }

  #editVisibleTable{
    display: none;
  }


}

